STRINGTABLE
{
400,"Please email the Site Code to FGLCRYP@dow.com to obtain the required CrypKey to unlock the Fumiguide* Program for ProFume* Gas Fumigant on this computer."
401,"Your CrypKey is valid. Welcome to the Fumiguide* Program for ProFume* Gas Fumigant!"
402,"The CrypKey you entered is not valid."
403,"If you close this window, your CrypKey will not be validated. Do you really want to close the window?"
404,"Security initialization failed.  Try re-installing the application."
405,"Compañía"
406,"Nombre"
407,"Dirección 1"
408,"Dirección 2"
409,"Dirección 3"
410,"Ciudad"
411,"Estado"
412,"CIERRE RELÁMPAGO"
413,"País"
414,"Compañía"
415,"Nombre"
416,"Dirección 1"
417,"Dirección 2"
418,"Dirección 3"
419,"Ciudad"
420,"Estado"
421,"CIERRE RELÁMPAGO"
422,"País"
423,"Llave del sitio"
424,"Código del sitio"
425,"You have %1 days left before your CrypKey expires.To get a new CrypKey, please uninstall the application and reinstall again. You will be prompted for a new CrypKey when you start the application."
500,"ft"
501,"m"
502,"cu ft"
503,"cu m"
504,"F"
505,"C"
506,"lbs"
507,"kgs"
508,"lbs/min"
509,"kg/min"
510,"min"
511,"PSIG"
512,"bar"
1000,"Fumiguide* Program for ProFume* gas fumigant"
1001,"      Cliente Info      "
1002,"      Plan de la dosificación de la fumigación      "
1003,"      Plan de la introducción      "
1004,"      Supervisión de plan      "
1005,"      Introduction History      "
1006,"      Historia de la introducción      "
1008,"      Supervisión de estado     "
1009,"     Gráfico   "
1010,"Copyright 2003 by Dow AgroSciences LLC."
1050,"&File"
1051,"&New"
1052,"&Open..."
1053,"&Close"
1054,"&Save"
1055,"Save &As..."
1056,"&Print..."
1057,"E&xit"
1058,"&Edit"
1059,"&Copy"
1060,"&Paste"
1061,"&View"
1062,"&Toolbar"
1063,"Status &Bar"
1064,"&Options..."
1065,"&Help"
1066,"&Contents"
1067,"&About "
1068,"Profume Version"
1069,"DOW AgroSciences"
1070,"Copyright (c) 2003"
1071,"Do you want to remove the job specific monitoring data and retain the plan settings?"
1072,"Changes have been made but were not saved. Would you like to save?"
1073,"Error opening file"
1074,"File could not be saved"
1075,"Error"
1076,"Fumiguide Data (*.fum) | *.fum"
1077,"The file contains an invalid job id."
1078,"Text Files (*.txt) | *.txt"
1079,"Data exported"
1080,"File cannot be opened. Please make sure that the file is not read-only and that it is not being used by another application"
1081,"Export"
1082,"Export Graph"
1500,"Select Unit Type"
1501,"English"
1502,"Metric"
1503,"&OK"
1504,"&Cancel"
1505,"Options"
1506,"Cu&t"
1507,"Input Contact information about fumigator's customer."
1508,"Plan/Calculate Target Dosage and Required amount of fumigant"
1509,"Input fumigant introduction plan by Area of structure and introduction line."
1510,"Create monitoring line name/location plan."
1511,"(Optional) Record amount of ProFume introduced."
1512,"Page for entering fumigant monitoring data."
1513,"Tracks CT accumulation, HLT, and recommendations to achieve target dosage"
2000,"Address Information"
2001,"Company:"
2002,"Address Line 1:"
2003,"Address Line 2:"
2004,"Address Line 3:"
2005,"State/Province:"
2006,"Zip/Postal Code:"
2007,"Contact Information"
2008,"Primary Contact Info:"
2009,"Secondary Contact Info:"
2010,"Name:"
2011,"Phone:"
2012,"E-Mail:"
2013,"Notes"
2014,"Notes:"
2015,"Next Step >>"
2016,"ProFume* gas fumigant is used to control postharvest insect pests in food facilities.  Critical to the effective use and safe stewardship of this fumigant is the Fumiguide* Program for ProFume* Gas Fumigant.  This application is based on Precision Fumigation, defined as optimizing fumigant use for maximum efficiency and safety.  The ProFume Fumiguide calculates precise dosages based on the target pest and environmental conditions, and then provides refined fumigation instructions based on gas monitoring data. "
2017,"Customer Info"
3000,"General Info (Optional) "
3001,"Structure/Area Info (A structure may have more than one Area)"
3002,"Target Info"
3003,"Results"
3004,"Site Name:"
3005,"Job Name:"
3006,"Fumigation Date:"
3007,"Licensed Fumigator:"
3008,"*Target Pests:"
3009,"*Dosage:"
3010,"*Fumigation Type:"
3011,"*Pressure Type:"
3012,"Commodity:"
3013,"Load Factor (%):"
3014,"Calculate"
3015,"Next Step >>"
3016,"*Area Name"
3017,"*Temperature"
3018,"*Est. HLT"
3019,"*Exposure Time"
3020,"*Area Volume"
3021,"Fumigant Required"
3022,"Target CT"
3023,"Initial Target Conc."
3024,"hrs"
3025,"No calculation has been performed."
3028,"g-hr/cu m"
3029,"oz-hr/MCF"
3030,"g/cu m"
3031,"oz/MCF"
3032,"Total Structure Vol: "
3033,"Avg Co: "
3034,"Avg HLT: "
3035,"Avg CT: "
3036,"Avg CnT: "
3037,"Total Amount of Fumigant: "
3038,"Warnings:"
3039,"Please enter an integer between 0 and 100."
3040,"Please calculate the amount of fumigant required."
3041,"Please enter a value for the Area Name."
3042,"Area Name is already used by another record. Please change the Area Name."
3043,"The temperature must be a number between %1 and %2%3."
3044,"Temperature has to be a whole number."
3045,"The temperature must be between %1 and %2%3."
3046,"The estimated HLT must be a number between %1 and %2."
3047,"The estimated HLT must be between %1 and %2."
3048,"The planned exposure must be a floating-point number between %1 and %2."
3049,"The planned exposure must be between %1 and %2."
3050,"Volume has to be a whole number."
3051,"The volume must be between %1 and %2%3."
3052,"Cannot calculate an appropriate dosage. Please check the Calculation Warnings for more information."
3053,"Error in calculation"
3054,"<Area Name "
3055,"Cannot delete Job Area if it is referenced by a Monitor Point"
3056,"Cannot delete Job Area if it is referenced by an Introduction Line"
3057,"Cannot delete Job Area if it is referenced by an Introduction History record"
3058,"The selected %1 will be permanently deleted. To delete the selected %2, click OK. To cancel the deletion, click Cancel. "
3059,"You can not perform a dosage calculation if there are no Area records."
3060,"Please select a pest."
3061,"Name for location"
3062,"Date fumigation begins"
3063,"Name for this job"
3064,"Legally responsible fumigator"
3065,"Select one or more pests you are targeting for control "
3066,"Select the life stage of target pest(s) you are trying to control.  Eggs are more tolerant."
3067,"Select one: 'Space' if primarily targeting pests in equipment/structural materials;  'Commodity' if primarily targeting pests within bulk commodity."
3068,"Select 'Vacuum' if vacuum chamber fumigation, otherwise 'Normal Air'. "
3069,"Only applicable for 'Commodity' Fumigation Type.  What commodity is being fumigated?"
3070,"Only applicable for 'Commodity' Fumigation Type.  Percent of fumigated space occupied by food/feed commodity."
3071,"Name for total structure or an Area within the structure."
3072,"Estimated average temp at site of pests in specified Area during fumigation."
3073,"Estimated HLT for Area"
3074,"Planned exposure time for specified Area. Exposure Times can vary when evaluating fumigation scenarios in Fumigation Plan tab, but must be the same for all Areas to enter monitoring data and receive updated dosage status/recommendations during the job."
3075,"Volume of specified Area"
3076,"Quantity of fumigant required to reach target CT in specified Area"
3077,"Targeted Dosage or CT for Area based on 'Target Info and Area Info' provided."
3078,"Target concentration for Area expected when all fumigant has been introduced."
3079,"Select to calculate dosage results"
3080,"Total Structure Vol.: Sum of volumes for all Areas"
3081,"Avg Initial Target Conc.: Simple average of 'Initial Target Conc.' for all Areas of structure"
3082,"Avg HLT: Simple average of HLTs for all Areas of structure"
3083,"Avg CT: Simple average of  'Target CTs' for all Areas of structure"
3084,"Total Amount of Fumigant: Sum of fumigant needed for all Areas to achieve Target CT in each Area"
3085,"Warnings: if label would be exceeded or target not expected to be achieved "
3086,"Please enter an integer."
3087,"The volume must be a number between %1 and %2%3."
3088,"Cylinders"
3089,"Exposure Times are only permitted to vary for job scenario evaluations.  Please, make all Exposure Times equal if you wish to monitor this fumigation job.  Exposure Times for all Areas must be the same to monitor the fumigation and receive Status/Recommendations updating dosing instructions."
3090,"User-defined CT"
3091,"User-defined Targeted Dosage or CT for Area based on 'Target Info and Area Info' provided."
3092,"User-defined CT is not a number"
3093,"The User-Defined CT should be greater than %2 and should not exceed %1 for the selected pressure type"
4000,"Critical Error Occurred"
4001,"An error has occurred within the application that has caused it to terminate.    If this issue persists, please contact your nearest software vendor for instructions.  Copy the error log below for reference."
4002,"Select from the drop down list of Areas created on 'Dosage Plan' page"
4003,"Name for introduction line"
4004,"Relative Humidity at location of introduction line."
4005,"Estimated cylinder temperature or pressure"
4006,"Inside diameter of Introduction Line"
4007,"Length of line"
4008,"Rate of air movement provided by introduction fan"
4009,"Calculate Introduction Rate button"
4010,"actual rate at which fumigant will be introduced based on line length, inside diameter, and cylinder pressure (temperature dependent)"
4011,"rate of gas introduction permitted based on % RH and 'Fan Capacity'"
4012,"warnings if 'Actual Introduction Rate' exceeds 'Permitted Introduction Rate'"
4013,"Enter Introduction Lines and Fans"
4014,"Actual and Permitted Introduction Rates"
4015,"Calculate Introduction Rates"
4016,"*Introduction Line"
4017,"*RH (%)"
4018,"*Cylinder Temp/Pressure"
4019,"*Inside Diameter"
4020,"*Length"
4021,"*Fan Capacity"
4022," mm"
4023,"Introduction Rate"
4024,"Permitted Introduction Rate"
4025,"Please enter a name for the Introduction Line."
4026,"Introduction Line Name is already used by another record. Please change the Introduction Line Name."
4027,"The humidity must be a number between %1 and %2."
4028,"Relative Humidity has to be a whole number."
4029,"The valid range for RH is %1-%2%.  Fog-out (water condensation) increases at high relative humidities.Increase fan capacity, slow introduction rate, or wait until %RH declines to minimize fog-out potential."
4030,"The temperature must be a floating-point number between %1 and %2."
4031,"The temperature must be between %1 and %2%3."
4032,"Line Length has to be a whole number."
4033,"Please enter a line length between %1 and %2 %3."
4034,"Please enter a fan flow rate between %1 and %2 %3."
4035,"Fan Capacity has to be a whole number."
4036,"<Introduction Line Name "
4037,"You can not perform a calculation if there are no Introduction Line records."
4038,"Warning: The Introduction Rate %1 %2 is greater than the maximum permitted Introduction Rate %3 %4."
4039,"Warning - See Introduction Rate Warning Message Below."
4040,"Please enter at least one Job Area in the Dosage Plan tab."
4041,"1/8""
4042,"11/64""
4043,"1/4""
4045,"Cannot delete Introduction Line if it is referenced by an Introduction History record"
4046,"cu m/min"
4047,"cu ft/min"
4048,"Area Name"
4049,"Warning:  The combination of values entered for Cylinder Temperature, Introduction Line Inside Diameter, and Introduction Line Length resulted in a very slow rate of ProFume introduction which cannot be accurately estimated.  Increase the inside diameter or shorten the length of the introduction line to increase the rate of ProFume introduction."
4050,"See warning message below"
4051,"1/4 Length"
4052,"1/8 Length"
4053,"Time (min) to Empty Cylinder"
4054,"No.of Cylinder"
4056,"Use Cylinder's:"
4057,"Convert"
5000,"New Mon. Pt."
5001,"*Area Name"
5002,"*Monitor Point Name"
5003,"Location / Description"
5004,"Inactive"
5005,"Cannot delete Monitor Point if it is referenced by Monitoring Data"
5006,"The selected Monitor Point will be permanently deleted. To delete the selected Monitor Point, click OK. To cancel the deletion, click Cancel. "
5007,"Duplicate Monitor Point names exist"
5008,"The Monitoring Point Name may not be empty"
5009,"Enter Fumigant Monitoring Information Here:"
5010,"Select from the drop down list of Areas from 'Dosage Plan' page."
5011,"Descriptive name for each monitoring location"
5012,"Describe where gas is being monitored"
6000,"Please enter at least one Introduction Line in the Introduction Plan tab."
6001,"Fumigant Introduced"
6002,"Area Subtotals:"
6003,"Grand Total:"
6004,"Introduction Line Name (Area)"
6005,"Lbs Introduced"
6006,"Kg Introduced"
6007,"Time Introduced"
6008,"Note"
6009,"Area"
6010,"Pounds Introduced"
6011,"Kilograms Introduced"
6012,"Select from the drop down list of introduction lines created in Introduction Plan page"
6013,"Numeric entry only of lbs (kilograms) introduced, will be summed below"
6014,"Time during which specified quantity of fumigant was introduced"
6015,"Comments about introduction activities"
6016,"Total amount of fumigant introduced by Area"
6017,"Total amount of fumigant introduced for whole Structure"
6018,"The amount introduced must be numeric"
6019,"The selected Introduction Line Name (Area) will be permanently deleted. To delete the selected Introduction Line Name (Area), click OK. To cancel the deletion, click Cancel."
6020,"The amount introduced must be non-negative"
6021,"The amount introduced must be a whole number."
7000,"Monitoring Data Input"
7001,"*Start Introduction"
7002,"*Start Exposure"
7003,"*End Exposure"
7004,"Date :"
7005,"Time :"
7006,"Data Filter (by Monitoring Point)"
7007,"ALL"
7008,"Please enter the date of concentration reading."
7009,"Please enter the time of concentration reading."
7010,"Please enter the Monitor Point Name of the concentration reading."
7011,"Are you sure you want to delete the ( %1) row/s selected?"
7012,"You must enter the Start Introduction Time, Start Exposure Time, and End Exposure Time to calculate CT Achieved and Projected CT."
7013,"Concentration readings can not be entered prior to Start of Introduction.  Please check the date and time entered."
7014,"End of Exposure time must be after the Start of Introduction time.  Please check the date and time entered."
7017,"Start of Exposure time must be prior to End of Exposure time.  Please check the date and time entered."
7018,"Start of Introduction time must be either equal or prior to Start of Exposure time.  Please check the date and time entered"
7019,"Start of Introduction time must be prior to End of Exposure time.  Please check the date and time entered."
7020,"Start of Exposure time must be after the Start of Introduction time.  Please check the date and time entered."
7021,"Note cannot exceed 50 characters."
7022,"Concentration must be an integer between 0 and 500."
7023,"Warning: Concentration exceeding 128."
7024,"Concentration cannot be greater than 500"
7025,"Concentration must be an integer between 0 and 500"
7026,"Please enter at least one Monitoring Point in the Monitoring Plan tab."
7027,"Please input time ProFume Introduction started, Start of Exposure, and End of Exposure and click on Accept Date:Time button before entering monitoring data.  You can change at any time."
7028,"*Date"
7029,"*Time"
7030,"*Monitoring Point Name"
7031,"*Concentration"
7032,"g/m3"
7033,"HLT"
7034,"(Last Time to Present)"
7035,"Notes"
7036,"Time gas introduction started.  User defined and changeable"
7037,"Time CT accumulation begins.  User defined and changeable"
7038,"Time CT accumulation ends. User defined and changeable"
7039,"User can select to view data for any number of monitoring points defined in Monitoring Plan page "
7040,"Insert, copy, paste, delete functions operable in table "
7041,"mm/dd/yr format"
7042,"hh/mm am/pm format"
7043,"Select from monitoring points defined in 'Monitoring Plan' page"
7044,"ProFume concentration (g/cu m or oz/MCF) at designated time"
7045,"(calculated value) Half loss time from last concentration reading for this monitoring point to present concentration"
7046,"User’s comments "
7047,"Please select the data to be deleted."
7048,"Please enter the date and time of concentration reading."
7049,"The row (%1) you have selected for copying is empty. Please select a non-empty row."
7050,"Data on the clipboard are not valid date/time/monitor point name and can not be pasted on the grid."
7051,"Concentration readings can not be entered prior to Start of Introduction.  Please check the time entered."
7052,"oz/MCF"
7053,"End of Exposure time must be after the Start of Exposure time.  Please check the date and time entered."
7054,"Accept Date:Time"
7055,"You must click on Accept Date:Time button to accept changes to Start Intro, Start Exposure, End Exposure."
7056,"Note: Exposure Time in the Fumigation Plan tab is automatically changed if Exposure Time in the Monitoring Data Input or Monitoring Status tabs is changed.  Changing the Exposure Time may change the Target CT. "
8000,"Cannot show values with no existing monitor points"
8001,"Fumigant introduction has begun.  Exposure Period has not yet started."
8002,"Defined list in 'Dosage Plan' page."
8003,"Defined list in 'Monitoring Plan' page."
8004,"Time of last concentration reading"
8005,"Elapsed time from Start of Exposure to last concentration reading."
8006,"Half loss time from most recent peak concentration to last concentration reading."
8007,"Time of most recent peak concentration."
8008,"Time of last concentration reading."
8009,"CT Dosage achieved from 'Start of Exposure' to last concentration reading."
8010,"CT Dosage projected to be achieved at end of planned exposure period."
8011,"Feedback on progress of fumigation and how to achieve target CT."
8012,"Time gas introduction started.  User defined and changeable."
8013,"Time CT accumulation begins.  User defined and changeable"
8014,"Time CT accumulation ends. User defined and changeable"
9000,"ProFume* Fumigation Job Report"
9001,"Fumigation Company:"
9002,"Address:"
9003,"City:"
9004,"State:"
9005,"ZIP:"
9006,"Country:"
9007,"Contact:"
9008,"Customer:"
9009,"Customer Contact:"
9010,"Not Available"
9011,"Location:"
9012,"Structure Total Volume:"
9013,"Licensed Fumigator on Job:"
9014,"Target Pests:"
9015,"Fumigation Type:"
9016,"Life Stage(s) of Target Pests:"
9017,"Commodity:"
9018,"Treatement Type:"
9019,"Structure Load Factor:"
9020,"Area Name"
9021,"HLT"
9022,"Achieved CT"
9023,"Ending Status"
9024,"No Active Monitor Points"
9027,"Estimated time of completion: %1.  "
9028,"Fumigant introduction has begun.Exposure Period has not yet started."
9029,"Fumigation is on schedule to achieve Target CT within planned Exposure Period."
9030,"Target CT will be achieved ahead of schedule."
9031,"Target CT will be achieved ahead of schedule after a total of %1 hours at %2."
9032,"Target CT will not be achieved as planned. ProFume concentration is too low to achieve Target CT simply by extending the Exposure Period.  Option #1: To achieve Target CT within planned Exposure Period, add %1 %2 of ProFume to reach new Target Concentration of %3 %4.  Option #2: Extend the Exposure Period, and then see new Status/Recommendation for add-gas instructions. "
9033,"Target CT will not be achieved as planned. To achieve Target CT add more ProFume or extend Exposure Period. Add %1 %2 of ProFume to reach new Target Concentration of %3 %4, or extend Exposure Period to a total of %5 hours, until %6. "
9034,"Target CT achieved. Begin aeration."
9035,"Exposure in progress. Projected CT will be calculated when concentration is no longer increasing. "
,""
9036,"Target CT will not be achieved as planned. To achieve Target CT you will need to extend exposure period. Option #1: Extend exposure to a total of %1 hours, until %2. Option #2: If Exposure Period cannot be extended, you may add %3 %4 of ProFume to reach maximum permitted Target Concentration of 128 {g/cu m or oz/MCF}, which may not achieve the Target CT."
9037,"Exposure Complete."
9038,"Please calculate amount of fumigant required on the Fumigation Dosage Plan page."
9039,"Total Amount of Fumigant Required:"
9040,"Total Actual Exposure Time:"
9041,"Fumigation Date:"
"9042,""    To begin working with the Fumiguide* Program for ProFume* gas fumigant, go to ""File"" in the Tool Bar above. Select ""New"" if creating a new job, or select ""Open"" to open an existing job.  You may also use the icons in the Tool Bar to do the same. The Fumiguide* Program for ProFume* gas fumigant functions in English and Metric units.    
    Go to ""View"" in the Tool Bar above, select ""Options"".Then select either English or Metric Units.    
    You can change units at any time within a job, by following these same instructions.
    The Fumiguide* Program for ProFume* gas fumigant operates using AM/PM Time, (e.g. 2:35 PM being 14:35
     in military time).  To properly set your computer clock, please see the Help File section ""How to
    Change Region Settings to Display Time Correctly"" or search by the keyword ""Region
    Settings""        """
9043,"Getting Started"
9044,"Monitoring data after the End Exposure time is not included in the CT calculation."
9045,"* Trademark of Dow AgroSciences LLC"
9046,"To generate Status/Recommendation instructions, Elapsed Time for all monitoring points within an Area must be within 30 minutes of each other. Please update ProFume concentration readings in the Monitoring Data Input tab so that Elapsed Times for all monitoring points within this Area do not differ by more than 30 minutes. "
,""
"9047,""Target CT will not be achieved as planned. With present Exposure Period, adding more ProFume to achieve Target CT will exceed maximum permitted Target Concentration of 128 {g/cu m or oz/MCF}.   
Option #1: Extend Exposure Period, then see new Status/Recommendation instructions.
Option #2: If the Exposure Period cannot be extended, add %1 %2 of ProFume to reach maximum permitted Target Concentration of %3 %4 which may not achieve the Target CT.
"""
"9048,""Target CT will not be achieved as planned.At least 30 minutes must be remaining in Exposure Period to calculate add-gas instructions.  
To achieve Target CT by adding more ProFume, extend Exposure Period.  """
9049,"Exposure Period has ended. Achieved CT is at least 98% of Target CT."
9050,"Exposure Period has ended. Target CT not achieved. To achieve Target CT extend Exposure Period and see new Status/Recommendations."
9051,"Status/Recommendations cannot be calculated for this Area until all monitoring points within this Area have ProFume concentration readings taken at the same dates/times. Please enter concentration readings for all monitoring points within this Area at the same dates/times."
10001,"Filter by Monitor Point"
10002,"Display Start Exposure and End Exposure Lines"
10003,"Units for x-axis"
10004,"Indicate Graph Title here."
10005,"Time of Day"
10006,"Concentration"
10007,"Start of Exposure"
10008,"End of Exposure"
10009,"Export Graph"
10010,"Axes, Titles, etc. Options"
10011,"Time of Day"
10012,"Elapsed Time"
10013,"ProFume* gas fumigant Fumiguide"
10014,"Export Date: "
10015,"Graph Title"
10016,"OK"
10017,"Cancel"
10018,"Set Range"
10019,"X-Axis Range (Min to Max)"
10020,"Y-Axis Range (Min to Max)"
10021," to"
10022,"Show ALL Point labels"
10023,"The version of the job file you are using is not compatible with the current ProFume Application running in your computer."
10024,"There are no monitoring points to be plotted in the graph."
10025,"Please enter a minimum and maximum value for the time of day range."
10026,"Please enter a a valid date (dd-mmm-yy hh:mm am/pm)."
10027,"Please check the values you entered in the range. Make sure that the minimum value is less than the maximum."
10028,"Please enter a minimum and maximum value for the elapsed time range."
10029,"Please enter a valid Minimum/Maximum elapsed time values (e.g. Minimum: 0, Maximum: 2.5)."
10030,"Please enter a valid y-axis (Concentration) range."
10031,"Please specify a title for the graph."
10032,"Please enter the Start Introduction, Start Exposure and End Exposure Date & Time in the Monitor Data Input tab."
10033,"Shows/Hides the Start Exposure and End Exposure constant lines."
10034,"Shows/Hides the point labels for all series in the graph."
10035,"Set the minimum value of the x-axis points to be shown in the graph."
10036,"Set the maximum value of the x-axis points to be shown in the graph."
10037,"Set the minimum value of the y-axis points to be shown in the graph."
10038,"Set the maximum value of the y-axis points to be shown in the graph."
10039,"Select the unit you want to be used to plot the x-values."
10040,"Enter the title for the graph."
10041,"Word 97 or a newer version of Word must be installed in order for this functionality to work on your computer."
10042,"Line Options"
10043,"Provides options for axes, titles, start/end exposure and point labels."
10044,"Select "Graph Options" button to design line and markers"
10045,"Time at which accumulation of CT (dosage) begins.  Set in Monitoring Data Input tab or Monitoring Status tab."
10046,"Time at which accumulation of CT (dosage) begins.  Set in Monitoring Data Input tab or Monitoring Status tab."
10047,"Select "Set Properties" button to display time as hh:mm AM/PM or elapsed time."
10048,"Please enter at least one concentration reading in the Monitoring Data Input tab."
10049,"The "Low" option  provides control of larvae, "
10050,"pupae, adults and some eggs.  This base level of control is "
10051,"suited for maintenance fumigations. "
10052,"The "High" option provides control of eggs, larvae, "
10053,"pupae and adults.  This high level of control is suited for "
10054,"heavy-duty clean out fumigations."
10055,"NOTE:  After calculating "low" and "high" dosage, the fumigator can recommend a "
10056,"custom dosage between "low" and "1500 CT" that will meet customer expectations."
10057," "
10058,"See Chapter 4 and 5 of the ProFume "
10059,"Manual for additional information on Precision Fumigation "
10060,"factors and techniques."
10061,"LOAD FACTOR is an estimated percentage of the "
10062,"fumigated space filled by commodity.  Load factor "
10063,"is not a functional component in this version of the "
10064,"Fumiguide."
10065,"SELECT:"
10066,"Space when primarily targeting pests infesting"
10067,"structures, equipment, etc. (e.g. mills, food "
10068,"processing facilities, warehouses)."
10069,"Commodity when primarily targeting pests infesting"
10070,"the commodity or product (e.g. silo"
10071,"with grain)"
10072,"for all fumigations other than "Vacuum""
10073,"chamber fumigations. Commodities"
10074,"should not be vacuum fumigated at"
10075,"greater than 200 CT"
10076,"or"
10077,"Area Name"
10078,"Monitoring Point"
10079,"Time of Last Entry"
10080,"Elapsed Time"
10081,"HLT"
10082,"Start Time of HLT"
10083,"End Time of HLT"
10084,"CT Achieved"
10085,"Projected CT"
10086,"Status/Recommendations"
10087,"All"
10088,"New"
10089,"Open"
10090,"Save"
10091,"Cut"
10092,"Copy"
10093,"Paste"
10094,"About Profume"
10095,"Profume Version"
10096,"dpcalc Version"
10097,"Area Info"
10098,"Introduction Info"
10099,"row"
10100,"Delete"
10101,"Temperature"
10102,"Pressure"
10103,"I have read and understood the WARNINGS indicated"
10104,"Warning!!!"
10105,"Please click on the CONVERT button to perform Temperature-Pressure conversion."
10106,"The pressure must be a floating-point number between %1 and %2."
10107,"The pressure must be between %1 and %2%3."
10108,"Pressure has to be a whole number."
10109,"Approximate time (min) to empty a full cylinder. Note: Not accurate over 10 lbs/min introduction rate."
10110,"Specify number of cylinders manifolded together per introduction line"
10111,"The User-Defined CT value must be greater than the Target CT."
10112,"Please perform an initial calculation for the Target CT before adding a value in the User-Defined CT column."
10113,"You have chosen Space Fumigation for Commodities. Is this what would you like to do?"
10114,"Fumiguide Report.dot"
10115,"Do not compute for HLT Adjustment"
10116,"No adjustment will be made for sorption by the commodity.  You should not choose this option unless you have made a \n previous fumigation of this commodity in this faculty with ProFume where concentration measurements were taken."

}
